#section-registration {
  @include flex-center;

  .form-container {
    width: 100%;
    max-width: 400px;
    padding: 30px 20px 60px 20px;

    .step-info {
      font-size: 0.8rem;
      margin-bottom: 1rem;
      align-self: flex-start;
      .current-step {
        color: $primary-color;
      }
    }

    .form-navigation {
      @include flex-center;
      gap: 20px;
      width: 100%;
      max-width: 400px;
      margin-top: 1rem;

      .prev-button {
        background-color: $background-tertiary;
        color: $primary-color;
        max-width: 150px;

        &:hover {
          background-color: darken($background-tertiary, 3%);
        }
      }

      .next-button {
        background-color: $background-primary;
        color: $secondary-color;

        &:hover {
          background-color: darken($background-primary, 3%);
        }
      }
    }
  }

  .alert {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 15px;
    border-radius: 7px;
    text-align: center;
  }

  .alert.success {
    background-color: $success-color;
    color: $secondary-color;
    border: 1px solid darken($success-color, 3%);
  }

  .alert.error {
    background-color: $error-color;
    color: $secondary-color;
    border: 1px solid darken($error-color, 3%);
  }
}
