$primary-color: #f59b0e;
$secondary-color: #ffffff;

$background-primary: #f59b0e;
$background-secondary: #0f1718;
$background-tertiary: #ffffff;

$text-primary: #3e3e3e;

$border-input-default: #cecac4;
$border-input-focus: #6c6c6c;

$error-color: #dc3545;
$success-color: #28a745;
