$font-family-primary: "IBM Plex Sans", Arial, sans-serif;
$font-size-primary: 1rem;
$font-size-secondary: 0.875rem;

$h1-font-size: 1.8rem;
$h2-font-size: 1.7rem;
$p-font-size: 0.875rem;

$border-radius-default: 7px;
